@import '../variables';

.create-post-container {
	margin-top: 2em;
	padding: 2em;
	border-radius: 14px;
}

.create-post-heading {
	display: flex;
	background-color: $main-color;
	padding: 1em;
	border-radius: 14px;
}

.create-post-title {
	margin: 0 1em;
	color: #fff;
	font-size: 1.5em;
}

.create-post-avatar {
	margin-top: 1em;
}
